---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=25&screen_name=BlizzardCS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJnJjwAAAAAAvxrBxp1ysoa6w%2F%2Fbmgp1oS41v24%3DYa5trcMhG3QjxRr8PisqtHso5NjLHjzqQn83v5CokSTFALpBGX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 21 Jan 2016 00:10:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 7d82c84b3546228546163cd8a683d6bc
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1453335940'
      X-Response-Time:
      - '168'
      X-Transaction:
      - 357c31554f578eab
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Jan 20 23:28:26 +0000 2016","id":689952657075732480,"id_str":"689952657075732480","text":"@Ranglo99
        Can you post it in our Tech Forum &amp; link it here? https:\/\/t.co\/eoaTIXlRIN
        ^DMC","source":"\u003ca href=\"http:\/\/www.conversocial.com\" rel=\"nofollow\"\u003eConversocial\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":689952424958824450,"in_reply_to_status_id_str":"689952424958824450","in_reply_to_user_id":570502573,"in_reply_to_user_id_str":"570502573","in_reply_to_screen_name":"Ranglo99","user":{"id":174307074,"id_str":"174307074","name":"BlizzardCS","screen_name":"BlizzardCS","location":"Twitter
        Hrs: M-F 6am - 9pm PST","description":"Blizzard Entertainment North America
        Customer Support -- http:\/\/t.co\/FqHN4cjHll -- Let us know how we''re doing!","url":"http:\/\/t.co\/qcN26VsLNX","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/qcN26VsLNX","expanded_url":"http:\/\/blizzard.com\/support\/","display_url":"blizzard.com\/support\/","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/FqHN4cjHll","expanded_url":"http:\/\/svy.mk\/183jyER","display_url":"svy.mk\/183jyER","indices":[57,79]}]}},"protected":false,"followers_count":613235,"friends_count":123,"listed_count":4094,"created_at":"Tue
        Aug 03 16:26:52 +0000 2010","favourites_count":312,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":84289,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/168329781\/Twitter-BG-cs.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/168329781\/Twitter-BG-cs.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/472012299566194688\/BGEH0BzU_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/472012299566194688\/BGEH0BzU_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/174307074\/1423074853","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"Ranglo99","name":"Randyg","id":570502573,"id_str":"570502573","indices":[0,9]}],"urls":[{"url":"https:\/\/t.co\/eoaTIXlRIN","expanded_url":"http:\/\/bit.ly\/1o2eNqI","display_url":"bit.ly\/1o2eNqI","indices":[64,87]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Wed
        Jan 20 23:27:11 +0000 2016","id":689952341253029890,"id_str":"689952341253029890","text":"@Ranglo99
        How''s your FPS? Ctrl + R will show it in the bottom right corner of the screen.
        ^DMC","source":"\u003ca href=\"http:\/\/www.conversocial.com\" rel=\"nofollow\"\u003eConversocial\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":689950789595459584,"in_reply_to_status_id_str":"689950789595459584","in_reply_to_user_id":570502573,"[...]
